debug=net
insmod time
insmod at_keyboard
insmod ntfs
insmod part_msdos
insmod part_gpt

insmod efinet
insmod net
insmod tftp
insmod boot 
insmod configfile 
insmod loadenv 
insmod linux 
insmod echo 
insmod chain 

insmod gzio
insmod efi_gop
insmod efi_uga
insmod hfsplus 
insmod fat 
insmod ext2 
insmod normal 
insmod search 
insmod loadbios 
insmod video_fb 
insmod videotest 
insmod font 
insmod gfxterm 
insmod memdisk 
insmod tar 
insmod tftp 
insmod reboot 
insmod iso9660

echo lockdown
echo $lockdown
net_add_addr ne0 efinet0 192.168.1.250

net_ls_cards
net_ls_addr


set net_default_server=192.168.1.231

echo $net_default_interface
echo $net_default_ip




set root=(memdisk)
echo $prefix
ls -l /

echo $net_default_mac
set default=1
set timeout=0
if [ "x${net_default_mac}" = "x0a:e5:b8:37:3e:51" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "xe2:c0:ed:fd:42:19" ]; then
	set timeout=5
	set default=0
fi
if [ "x${net_default_mac}" = "x0e:1c:ee:f6:05:8a" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "x20:cf:30:66:ac:7e" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "xc8:d3:ff:ba:6c:37" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "xc6:a1:21:0c:67:ad" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "xe0:4f:43:e6:bf:cc" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "x74:d4:35:ee:0b:35" ]; then
	set timeout=5
	set default=1
fi
if [ "x${net_default_mac}" = "x74:d4:35:ee:0b:7a" ]; then
	set timeout=0
	set default=1
fi
if [ "x${net_default_mac}" = "x74:d4:35:ec:fb:6c" ]; then
	set timeout=0
	set default=1
fi
if [ "x${net_default_mac}" = "x74:d4:35:1d:4f:b8" ]; then
	set timeout=0
	set default=0
fi

echo $net_ls_cards
echo ${net_ls_cards}
sleep 3

menuentry 'Fedora 35' --class os {
     echo Reading kernel
     linux  /vmlinuz  quiet nb_provisionurl=tftp://192.168.1.231/netbootcd-ipxe-bootchain/boot/init.sh  nofstab waitusb norestore base console=tty0  console=ttyS0,115200n8
     echo Reading ramdisk
     initrd /initrd
     echo booting...
}                                                                             

menuentry 'Local Windows' --class os {
        echo 'Loading Windows bootmgr...'
	set root='(hd0,gpt1)'
        search --file --set=root /EFI/Microsoft/Boot/bootmgfw.efi
        chainloader /EFI/Microsoft/Boot/bootmgfw.efi
        echo 'Done'

}

menuentry 'TinyCore Boot Menu' --class os {
     echo Reading kernel
     linux  /netbootcd/vmlinuz  quiet menu nb_provisionurl=http://192.168.1.231:81/tftp/netbootcd/init.sh  norestore base
     echo Reading ramdisk
     initrd /netbootcd/nbinit4.gz
     echo booting...
}                                                                             

menuentry 'TinyCore debug mode' --class os {
     echo Reading kernel
     linux  /netbootcd/vmlinuz  quiet nb_provisionurl=http://192.168.1.231:81/tftp/netbootcd/init.sh debug  norestore base
     echo Reading ramdisk
     initrd /netbootcd/nbinit4.gz
     echo booting...
}                                                                             

menuentry 'refind' --class os {
        echo 'Loading refind ...'
        search --label --set=root REFIND
        chainloader /EFI/BOOT/bootx64.efi
        echo 'Done'
}

menuentry 'memtest86.iso' --class os { 
	echo 'Loading Linux kernel ...'  
	linux /iso/memdisk iso
        echo 'Loading iso ...'                                          
	initrd /iso/memtest86.iso
}                                                                             










