insmod pxe
insmod pxechain

insmod net
insmod efinet
insmod tftp
insmod gzio
insmod part_gpt
insmod efi_gop
insmod efi_uga

insmod part_gpt 
insmod hfsplus 
insmod fat 
insmod ext2 
insmod normal 
insmod chain 
insmod boot 
insmod configfile 
insmod linux 
insmod loadenv 
insmod echo 
insmod search 
insmod loadbios 
insmod video_fb 
insmod videotest 
insmod efi_gop 
insmod efi_uga 
insmod font 
insmod gfxterm 
insmod memdisk 
insmod tar 
insmod tftp 
insmod reboot 
insmod iso9660


net_add_addr eno0 efinet0 192.168.1.250


set net_default_server=192.168.1.231

net_bootp
set root=(tftp,192.168.1.231)



configfile grub.cfg
